{% load static %}

<html>
    <head>
        <title>Блог о Тайланде</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:􏰄􏰃􏰃" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="nav-left">
<!--                <p>Hello, world!</p>-->
                <h1><a href="{% url 'home' %}">Блог о Тайланде</a></h1>
                <h1><a href="{% url 'home' %}">Все, что вы хотели знать о Тайланде, но боялись спросить</a></h1>
            </div>
            {% if user.is_authenticated %}
                <div class="nav-right">
                    <p><a href="{% url 'blog_new' %}">+ Добавить блог</a></p>
                </div>
            {% endif %}
        </header>
        {% if user.is_authenticated %}
            <p>Добро пожаловать, {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Выйти</a></p>
        {% else %}
            <p>Вы не авторизованы. Пожалуйста, авторизуйтесь или зарегистрируйтесь.</p>
            <a href="{% url 'login' %}">Войти</a>
            <p><a href="{% url 'signup' %}">Зарегистрироваться</a></p>
        {% endif %}
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>