{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h2>{{ object.author }}</h2>
        <p>{{ object.text }}</p>
        <p></p>
        <p>Дата создания комментария: {{ object.create_date }}</p>
    </div>

    {% if user.is_authenticated and user.id == object.author.id %}
        <p><a href="{% url 'comment_edit' comment.pk %}">+ Редактировать комментарий</a></p>
        <p><a href="{% url 'comment_delete' comment.pk %}">+ Удалить комментарий</a></p>
    {% endif %}
    {% if user.is_authenticated %}
        <p><a href="{% url 'comment_new' %}">+ Добавить комментарий</a></p>
    {% endif %}

{% endblock content %}