{% extends 'base.html' %}

{% block content %}


<div class="container my-3">

	<div class="card">

          <div class="card-header">
          	<h2 class="my-auto">Новый пост</h2>
          </div>

          <div class="card-body">

		    <form action="" method="post">{% csrf_token %}
		        {{ form.as_p }}
		        <input class="btn btn-outline-primary" type="submit" value="Сохранить"/>
		        <a href="{% url 'blog_detail' blog.pk %}" class="btn btn-outline-secondary">Отмена</a>
		    </form>

          </div>

    </div>
</div>


{% endblock content %}