{% extends 'base.html' %}


{% block content %}


<div class="container my-3">

        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary mb-3" href="{% url 'home' %}">< На главную</a>
          </li>
        </ul>
        <div class="card">
            <!-- description card header start -->

              <div class="card-header">
                <h3 class="float-left my-auto" ><a href="{% url 'blog_detail' post.blog.pk %}">{{object.blog}}</a> /
                    <a href="{% url 'post_detail' post.blog.pk post.pk %}">{{ object.title }}</a></h3>
                <h6 class="float-right my-auto text-muted">Автор поста: {{ object.author}}</h6>
              </div>

              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">

                  {% if user.is_authenticated and user.id == object.author.id %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_edit' post.blog.pk post.pk %}">Редактировать пост</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" style="color: red" href="{% url 'post_delete' post.blog.pk post.pk %}"
                           tabindex="-1" aria-disabled="true">Удалить пост</a>
                      </li>
                  {% endif %}

                  <li class="nav-item my-auto ml-auto mr-4">
                     <span class="text-muted">Дата создания: {{ object.create_date }}</span>
                  </li>

                </ul>

              </div>

              <!-- description card header end -->

              <!-- description card body start -->
              <div class="card-body">
                <p class="card-text">{{ object.body }}</p>
              </div>
            <!-- description card body end -->
            <div class="card-footer text-center">
                <span class="text-muted"> Дата последнего изменения: {{ object.update_date }}</span>
            </div>
        </div>

        <!-- Comments card begin -->
        <div class="card mt-4">
            <div class="card-header">
                <h5 class=" float-left" style="margin-bottom: 0">
                   Комментарии:
                </h5>
                {% if user.is_authenticated %}
                    <a href="{% url 'comment_new' post.blog.pk post.pk %}" class="btn btn-outline-primary float-right">
                        Добавить комментарий</a>
                {% endif %}
            </div>

            <div class="card-body">

                    <!-- Comments list begin   -->
                {% for comment in comment_list %}
                        <div class="card mb-3">

                          <div class="card-header text-muted">
                            <span class="float-left mr-1">Автор: {{ comment.author }} |</span>
                            <span class="float-left">Дата создания: {{ comment.create_date }}</span>
                              {% if user.is_authenticated and user.id == comment.author.id %}
                                  <a href="{% url 'comment_delete' blog.pk post.pk comment.pk %}" class="btn btn-outline-secondary btn-sm float-right">
                                    Удалить</a>
                                  <a href="{% url 'comment_edit' blog.pk post.pk comment.pk %}" class="btn btn-outline-secondary btn-sm mr-2 float-right">
                                    Редактировать</a>
                              {% endif %}
                          </div>

                          <div class="card-body">
                            <p class="card-text">{{ comment.text }}</p>


                           </div>

                        </div>
                {% endfor %}

                    <!-- Comments list end -->
            </div>
        </div>
        <!-- Comments card end -->
</div>


{% endblock content %}