{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h2>{{ object.title }}</h2>
        <p>{{ object.body }}</p>
        <p></p>
        <p>Дата создания поста: {{ object.create_date }}</p>
        <p>Дата последнего обновления поста: {{ object.update_date }}</p>
        <p>Название блога: {{ object.blog }}</p>
        <p>Автор блога: {{ object.author }}</p>
    </div>

    {% if user.is_authenticated and user.id == object.author.id %}
        <p><a href="{% url 'post_edit' post.pk %}">+ Редактировать пост</a></p>
        <p><a href="{% url 'post_delete' post.pk %}">+ Удалить пост</a></p>
    {% endif %}

{% endblock content %}